@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.color {
  /* background: rgba(255, 255, 255, 0.2); */
  background-image: url(background.jpeg);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.wtf {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.wtf li {
  border: 2px solid #ffffff;
  cursor: pointer;
  border-radius: 20px;
  padding: 8px 12px;
  font-size: 2em;
  font-weight: bold;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0) -webkit-linear-gradient(
      left,
      #e66465,
      #9198e5,
      #e66465
    ) repeat scroll 0% 0%/200% 200%;
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, #e66465, #9198e5, #e66465)
    repeat scroll 0% 0%/200% 200%;
  background-clip: border-box;
  color: transparent;
  background-clip: text;
  background-clip: text;
}
.wtf li:hover {
  transition: border 0.5s ease;
  border: 2px solid #662a87;
  -webkit-animation: GradientAnimation 2s ease infinite;
  animation: GradientAnimation 2s ease infinite;
  animation: GradientAnimation 2s ease infinite;
}
